#main-navbar {
background-color: blue;
width: 100%;
overflow: hidden;
position: relative;
}
#navbar-container {
position: relative;
float: left;
display: block;
left: 50%
}
#navbar-container ul {
  list-style-type: none;
  position: relative;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  right: 50%;
}
#navbar-container ul li {
  float: left;
  padding: 10px 20px;
}
#navbar-container ul li a {
  color: #fff;
  text-decoration none;
}
#sidebar {
  position: fixed;
  background-color: red;
  right: 0%;
  height: 100%;
  width: 20%;

}
#sidebar-container {
  text-align: center;
  display: block;
}
#sidebar-container ul {
  list-style-type: none;
  padding: 0;
}
#sidebar-container ul li {
  padding: 15px 0;
}
#sidebar-container ul li a {
  text-decoration: none;
  color: #fff;
}
#onpage{
  text-decoration: underline overline;
  color: #fff;
}
